{% trans_default_domain 'app' %}
<div class="collapse navbar-collapse" id="navbarsExample04">
    <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <!--
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown04">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </li>
        -->
        <li class="nav-item">
            <a class="nav-link{% if nav_top == 'terms' %} active{% endif %}" href="{{ path("index_terms") }}"><i class="bi-card-list"></i>&nbsp;{% trans %}link.terms{% endtrans %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if nav_top == 'privacy' %} active{% endif %}" href="{{ path("index_privacy") }}"><i class="bi-umbrella"></i>&nbsp;{% trans %}link.privacy{% endtrans %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if nav_top == 'imprint' %} active{% endif %}" href="{{ path("index_imprint") }}"><i class="bi-building"></i>&nbsp;{% trans %}link.imprint{% endtrans %}</a>
        </li>

        {% if app.user %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('account_logout') }}"><i class="bi-box-arrow-right"></i>&nbsp;{% trans %}link.sign-out{% endtrans %} [{{ app.user.userIdentifier }}]</a>
            </li>

        {% else %}
            <li class="nav-item">
                <a class="nav-link{% if nav_top == 'account-login' %} active{% endif %}" href="{{ path('account_login') }}"><i class="bi-box-arrow-in-right"></i>&nbsp;{% trans %}link.sign-in{% endtrans %}</a>
            </li>
            {% if selfregister %}
            <li class="nav-item">
                <a class="nav-link{% if nav_top == 'account-register' %} active{% endif %}" href="{{ path('account_register') }}"><i class="bi-clipboard-plus"></i>&nbsp;{% trans %}link.register{% endtrans %}</a>
            </li>
            {% endif %}
            {% if invitation %}
                <li class="nav-item">
                    <a class="nav-link{% if nav_sub == 'invitation-accept' %} active{% endif %}" href="{{ path('account_accept_invitation_form') }}"><i class="bi-qr-code"></i>&nbsp;{% trans %}link.invitation{% endtrans %}</a>
                </li>
            {% endif %}
        {% endif %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi-flag"></i>&nbsp;{% trans %}link.languages{% endtrans %}</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown04">
                {% for language in languages %}
                    {% set langname = 'text.language_' ~ language %}
                <li><a class="dropdown-item" href="{{ path('index_set_language', {language:language}) }}">{{ langname|trans }}</a></li>
                {% endfor %}
            </ul>
        </li>
    </ul>
    <!--
    <form>
        <input class="form-control" type="text" placeholder="Search" aria-label="Search">
    </form>
    -->
</div>
