{% trans_default_domain 'base' %}
<ul class="navbar-nav mr-auto">
    {% if app.user %}
        {% if is_granted('ROLE_ADMIN') %}
            {% include '_elements/nav_admin.html.twig' %}
        {% endif %}

        {% if feature_invitation %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('account_invite') }}"><i class="fas fa-user-plus"></i>&nbsp;{% trans %}link.account.invite{% endtrans %}</a>
        </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('account_logout') }}"><i class="fas fa-sign-out-alt"></i>&nbsp;{% trans %}link.account.logout{% endtrans %} [{{ app.user.handle }}]</a>
        </li>
        {% if is_granted('ROLE_ALLOWED_TO_SWITCH') and not is_granted('IS_IMPERSONATOR') %}
        <li class="nav-item{% if nav_top == 'account_impersonate' %} active{% endif %}">
            <a class="nav-link" href="{{ path('account_impersonate') }}"><i class="fas fa-people-arrows"></i>&nbsp;{% trans %}link.account.impersonation.start{% endtrans %}</a>
        </li>
        {% endif %}
        {% if is_granted('IS_IMPERSONATOR') %}
        <li class="nav-item{% if nav_top == 'account_impersonate' %} active{% endif %}">
            <a class="nav-link" href="{{ path('index_index', {_switch_user:'_exit'}) }}"><i class="fas fa-user-tag"></i>&nbsp;{% trans %}link.account.impersonation.end{% endtrans %}</a>
        </li>
        {% endif %}
    {% else %}
        {% if feature_invitation %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('account_invitation') }}"><i class="fas fa-user-plus"></i>&nbsp;{% trans %}link.account.invitation{% endtrans %}</a>
            </li>
        {% endif %}
        <li class="nav-item{% if nav_top == 'account_login' %} active{% endif %}">
            <a class="nav-link" href="{{ path('account_login') }}"><i class="fas fa-sign-in-alt"></i>&nbsp;{% trans %}link.account.login{% endtrans %}</a>
        </li>
        {% if feature_selfregister %}
        <li class="nav-item{% if nav_top == 'account_register' %} active{% endif %}">
            <a class="nav-link" href="{{ path('account_register') }}"><i class="fas fa-file-signature"></i>&nbsp;{% trans %}link.account.register{% endtrans %}</a>
        </li>
        {% endif %}
    {% endif %}
</ul>
<script>
    $('.dropdown-toggle').click(function(obj){
        target = $(this).data("toggleTarget");
        if ($('#' + target).css('display') == 'block') {
            $('#' + target).css('display', 'none');
        } else {
            $('#' + target).css('display', 'block');
        }
    });
</script>
