<ul class="navbar-nav mr-auto">
    {% if app.user %}
        {% if is_granted('ROLE_ADMIN') %}
        <li class="nav-item{% if nav_top == 'admin_user' %} active{% endif %}">
            <a class="nav-link" href="{{ path('admin_user_list') }}"><i class="fas fa-users"></i>&nbsp;Nutzer</a>
        </li>
        <li class="nav-item{% if nav_top == 'admin_role' %} active{% endif %}">
            <a class="nav-link" href="{{ path('admin_role_list') }}"><i class="fas fa-user-tag"></i>&nbsp;Rollen</a>
        </li>
        {% endif %}

        <li class="nav-item">
            <a class="nav-link" href="{{ path('account_logout') }}"><i class="fas fa-sign-out-alt"></i>&nbsp;Abmelden [{{ app.user.handle }}]</a>
        </li>
        {% if is_granted('ROLE_ALLOWED_TO_SWITCH') and not is_granted('IS_IMPERSONATOR') %}
        <li class="nav-item{% if nav_top == 'account_impersonate' %} active{% endif %}">
            <a class="nav-link" href="{{ path('account_impersonate') }}"><i class="fas fa-people-arrows"></i>&nbsp;Benutzerübernahme</a>
        </li>
        {% endif %}
        {% if is_granted('IS_IMPERSONATOR') %}
        <li class="nav-item{% if nav_top == 'account_impersonate' %} active{% endif %}">
            <a class="nav-link" href="{{ path('index_index', {_switch_user:'_exit'}) }}"><i class="fas fa-user-tag"></i>&nbsp;Benutzerübernahme beenden</a>
        </li>
        {% endif %}
    {% else %}
        <li class="nav-item{% if nav_top == 'account_login' %} active{% endif %}">
            <a class="nav-link" href="{{ path('account_login') }}"><i class="fas fa-sign-in-alt"></i>&nbsp;Anmelden</a>
        </li>
        <li class="nav-item{% if nav_top == 'account_register' %} active{% endif %}">
            <a class="nav-link" href="{{ path('account_register') }}"><i class="fas fa-file-signature"></i>&nbsp;Registrieren</a>
        </li>
    {% endif %}
    <!--
    <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>
    -->
</ul>
