<ul class="navbar-nav mr-auto">
    {% if app.user %}
        {% if is_granted('ROLE_ADMIN') %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle-target="menu-item-admin" aria-expanded="false">{% trans %}base.link.administration{% endtrans %}</a>
            <ul class="dropdown-menu" id="menu-item-admin" aria-labelledby="dropdown01">
                <li><a class="dropdown-item" href="{{ path('admin_user_list') }}"><i class="fas fa-users"></i>&nbsp;{% trans %}base.link.admin.users{% endtrans %}</a></li>
                <li><a class="dropdown-item" href="{{ path('admin_role_list') }}"><i class="fas fa-user-tag"></i>&nbsp;{% trans %}base.link.admin.roles{% endtrans %}</a></li>
            </ul>
        </li>
        {% endif %}

        <li class="nav-item">
            <a class="nav-link" href="{{ path('account_logout') }}"><i class="fas fa-sign-out-alt"></i>&nbsp;{% trans %}base.link.account.logout{% endtrans %} [{{ app.user.handle }}]</a>
        </li>
        {% if is_granted('ROLE_ALLOWED_TO_SWITCH') and not is_granted('IS_IMPERSONATOR') %}
        <li class="nav-item{% if nav_top == 'account_impersonate' %} active{% endif %}">
            <a class="nav-link" href="{{ path('account_impersonate') }}"><i class="fas fa-people-arrows"></i>&nbsp;{% trans %}base.link.account.impersonation.start{% endtrans %}</a>
        </li>
        {% endif %}
        {% if is_granted('IS_IMPERSONATOR') %}
        <li class="nav-item{% if nav_top == 'account_impersonate' %} active{% endif %}">
            <a class="nav-link" href="{{ path('index_index', {_switch_user:'_exit'}) }}"><i class="fas fa-user-tag"></i>&nbsp;{% trans %}base.link.account.impersonation.end{% endtrans %}</a>
        </li>
        {% endif %}
    {% else %}
        <li class="nav-item{% if nav_top == 'account_login' %} active{% endif %}">
            <a class="nav-link" href="{{ path('account_login') }}"><i class="fas fa-sign-in-alt"></i>&nbsp;{% trans %}base.link.account.login{% endtrans %}</a>
        </li>
        <li class="nav-item{% if nav_top == 'account_register' %} active{% endif %}">
            <a class="nav-link" href="{{ path('account_register') }}"><i class="fas fa-file-signature"></i>&nbsp;{% trans %}base.link.account.register{% endtrans %}</a>
        </li>
    {% endif %}
</ul>
<script>
    $('.dropdown-toggle').click(function(obj){
        target = $(this).data("toggleTarget");
        if ($('#' + target).css('display') == 'block') {
            $('#' + target).css('display', 'none');
        } else {
            $('#' + target).css('display', 'block');
        }
    });
</script>
