<ul class="navbar-nav mr-auto">
    {% if app.user %}
        {% if is_granted('ROLE_ADMIN') %}
            {% include '_elements/nav_admin.html.twig' %}
            <li class="nav-item dropdown{% if nav_top == 'admin_workflow' %} active{% endif %}">
                <a class="nav-link dropdown-toggle" href="#" data-toggle-target="menu-item-workflow" aria-expanded="false"><i class="fas fa-sitemap"></i>&nbsp;{% trans %}workflow.link.administration{% endtrans %}</a>
                <ul class="dropdown-menu" id="menu-item-workflow" aria-labelledby="dropdown01">
                    <li><a class="dropdown-item" href="{{ path('admin_workflow_list') }}">{% trans %}workflow.link.workflow{% endtrans %}</a></li>
                    <li><a class="dropdown-item" href="{{ path('admin_state_list') }}">{% trans %}workflow.link.state{% endtrans %}</a></li>
                    <li><a class="dropdown-item" href="{{ path('admin_transition_list') }}">{% trans %}workflow.link.transition{% endtrans %}</a></li>
                </ul>
            </li>
        {% endif %}

        {% if is_granted('ROLE_CONTENT') %}
        <li class="nav-item{% if nav_top == 'item' %} active{% endif %}">
            <a class="nav-link" href="{{ path('item_list') }}"><i class="fas fa-boxes"></i> {% trans %}item.link.items{% endtrans %}</a>
        </li>
        <li class="nav-item{% if nav_top == 'stuff' %} active{% endif %}">
            <a class="nav-link" href="{{ path('stuff_list') }}"><i class="fas fa-boxes"></i> {% trans %}item.link.stuff{% endtrans %}</a>
        </li>
        {% endif %}


        {% if feature_invitation %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('account_invite') }}"><i class="fas fa-user-plus"></i>&nbsp;{% trans %}base.link.account.invite{% endtrans %}</a>
        </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('account_logout') }}"><i class="fas fa-sign-out-alt"></i>&nbsp;{% trans %}base.link.account.logout{% endtrans %} [{{ app.user.handle }}]</a>
        </li>

        {% if is_granted('ROLE_ALLOWED_TO_SWITCH') and not is_granted('IS_IMPERSONATOR') %}
        <li class="nav-item{% if nav_top == 'account_impersonate' %} active{% endif %}">
            <a class="nav-link" href="{{ path('account_impersonate') }}"><i class="fas fa-people-arrows"></i>&nbsp;{% trans %}base.link.account.impersonation.start{% endtrans %}</a>
        </li>
        {% endif %}
        {% if is_granted('IS_IMPERSONATOR') %}
        <li class="nav-item{% if nav_top == 'account_impersonate' %} active{% endif %}">
            <a class="nav-link" href="{{ path('index_index', {_switch_user:'_exit'}) }}"><i class="fas fa-user-tag"></i>&nbsp;{% trans %}base.link.account.impersonation.end{% endtrans %}</a>
        </li>
        {% endif %}
    {% else %}
        {% if feature_invitation %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('account_invitation') }}"><i class="fas fa-user-plus"></i>&nbsp;{% trans %}base.link.account.invitation{% endtrans %}</a>
            </li>
        {% endif %}
        <li class="nav-item{% if nav_top == 'account_login' %} active{% endif %}">
            <a class="nav-link" href="{{ path('account_login') }}"><i class="fas fa-sign-in-alt"></i>&nbsp;{% trans %}base.link.account.login{% endtrans %}</a>
        </li>
        {% if feature_selfregister %}
        <li class="nav-item{% if nav_top == 'account_register' %} active{% endif %}">
            <a class="nav-link" href="{{ path('account_register') }}"><i class="fas fa-file-signature"></i>&nbsp;{% trans %}base.link.account.register{% endtrans %}</a>
        </li>
        {% endif %}
    {% endif %}
</ul>
<script>
    $('.dropdown-toggle').click(function(obj){
        target = $(this).data("toggleTarget");
        if ($('#' + target).css('display') == 'block') {
            $('#' + target).css('display', 'none');
        } else {
            $('#' + target).css('display', 'block');
        }
    });
</script>
