{% set nav_top = 'admin_user' %}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nutzerverwaltung</h1>

    {% if user %}
    <table class="table table-striped">
        <tr>
            <td><strong>Name</strong></td>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <td><strong>Active</strong></td>
            <td>{{ user.isActive }}</td>
        </tr>
        <tr>
            <td><strong>Rollen</strong></td>
            <td>{% for role in user.roles %}
                    {{ role }}
                {% endfor %}</td>
        </tr>
        <tr>
            <td><strong>Created</strong></td>
            <td>{{ user.createdOn|format_datetime('medium', 'short', locale='de') }}</td>
        </tr>
        <tr>
            <td><strong>Updated</strong></td>
            <td>{{ user.updatedOn|format_datetime('medium', 'short', locale='de') }}</td>
        </tr>
        <tr>
            <td colspan="2"><a href="{{ path("admin_user_edit", {id : user.id}) }}" class="btn btn-outline-dark">bearbeiten</a></td>
        </tr>
    </table>
    {% else %}
        <div class="alert alert-danger" role="alert">
            Der gesuchte Nutzer existiert nicht
        </div>
    {% endif %}
{% endblock %}
