{% set nav_top = 'bbs_contact' %}
{% trans_default_domain 'bbs' %}
{% extends 'bbs.html.twig' %}

{% block title %}{% trans %}title.contacts{% endtrans %}{% endblock %}

{% block body %}
    <div class="card border-dark card-thread">
        <div class="card-header">
            <a href="{{ path('account_invite') }}"><img src="{{ asset('icons/person-plus-fill.svg') }}"  width="32" height="32" />&nbsp;{% trans %}link.account.invite{% endtrans %}</a>
        </div>
    </div>

    {% if list %}
        {% for letter, entries in list %}
            <div style="margin-bottom:10px; border-bottom:5px solid #6c757d; border-radius:0.25rem; padding:0px;">
                <span style="margin:0;font-size:1.6rem; color:#6c757d; font-weight:500">{{ letter }}</span>
            </div>
            {% for contact in entries %}
                <div class="card border-dark card-thread">
                    <div class="card-header" style="height:64px;">
                        <p style="margin-left:64px;">{% if contact.contact.picture %}<img src="{{ asset(contact.contact.picture) }}"
                            style="position:absolute; top:0; left:0; width:64px; min-height:64px"/>{% endif %}<b>{{ contact.contact.displayname }}</b><br/>
                            {{ contact.createdOn|format_datetime('medium', 'none', locale='de') }}</p>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    {% else %}
        <p>{% trans %}message.nocontacts{% endtrans %}</p>
    {% endif %}
{% endblock %}

