{% set nav_top = 'bbs_contact' %}
{% trans_default_domain 'bbs' %}
{% extends 'bbs.html.twig' %}

{% block title %}{% trans %}title.contacts{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}title.contacts{% endtrans %}</h1>

<table class="table table-hover">
    <tr>
        <th>{% trans %}form.name{% endtrans %}</th>
        <td>{{ contact.contact.handle }}</td>
    </tr>
    <tr>
        <th>{% trans %}form.created{% endtrans %}</th>
        <td>{{ contact.createdOn|format_datetime('medium', 'none', locale='de') }}</td>
    </tr>
    <tr>
        <th>{% trans %}form.updated{% endtrans %}</th>
        <td>{{ contact.updatedOn|format_datetime('medium', 'none', locale='de') }}</td>
    </tr>
</table>




<table class="table">
    <tr>
        <th>{% trans %}title.circles{% endtrans %}</th>
    </tr>
    {% for circle in contact.circles %}
    <tr>
        <td><a href="{{ path('contact_removecircle', {contactid:contact.id, circleid:circle.id}) }}"
               class="btn btn-danger" title="{% trans %}btn.removecircle{% endtrans %}"><i class="fa-fw far fa-trash-alt"></i></a>&nbsp;{{ circle.name }}</td>
    </tr>
    {% endfor %}
    <tr>
        <td>
            <form class="form" action="">
                <select class="form-select form-control" aria-label="Default select example">
                    <option selected>{% trans %}btn.addcircle{% endtrans %}</option>
                    {% for circle in allCircles %}
                        <option value="{{ circle.id }}">{{ circle.name }}</option>
                    {% endfor %}
                </select>
            </form>
        </td>
    </tr>
</table>
<script type="text/javascript">
    $('.form-select').change(function () {
        let circleid = $(this).val();
        let url = '{{ path('contact_addcircle', {contactid:contact.id, circleid: '_circleid_'}) }}';
        url = url.replace('_circleid_', circleid);
        console.log(url);
        document.location.href = url;
    });
</script>
{% endblock %}

