{% set nav_top = 'contacts' %}
{% extends 'base.html.twig' %}
{% trans_default_domain 'app' %}

{% block title %}{% trans %}title.invitation.invite{% endtrans %}{% endblock %}

{% block content %}
    <h1>{% trans %}title.invitation.invite{% endtrans %}</h1>

    <p>{% trans %}message.invitation.invite{% endtrans %}</p>

    {% if invitation %}
        <p>{% trans %}message.invitation.code{% endtrans%} : <pre>{{ invitation.code|slice(0,4) }} {{ invitation.code|slice(4,4) }} {{ invitation.code|slice(8,4) }} {{ invitation.code|slice(12,4) }}</pre></p>
        <p>{% trans %}message.invitation.until{% endtrans %} <pre>{{ invitation.expirationDateTime|format_datetime('medium', 'short', locale='de') }}</pre></p>
        {% set url = url('account_accept_invitation', {code:invitation.code}) %}
        <img src="{{ qr_code_data_uri(url, 'invitation') }}" />
    {% else %}
        <a href="{{ path('account_create_invitation') }}" class="btn btn-primary">{% trans %}btn.invite{% endtrans %}</a>
    {% endif %}
{% endblock %}

