{% set nav_top = 'stuff' %}
{% extends 'base.html.twig' %}

{% block title %}{% trans %}item.title.stuff{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}item.title.stuff{% endtrans %}</h1>

    <p>{% trans %}item.message.stuffintro{% endtrans %}</p>
    <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        {% if place is empty %}
            <li class="breadcrumb-item active">{% trans %}base.link.all{% endtrans %}</li>
        {% else %}
            <li class="breadcrumb-item"><a href="{{ path('stuff_list') }}">{% trans %}base.link.all{% endtrans %}</a></li>
        {% endif %}
        {% for item in workflow.getStates %}
            {% if place == item.name %}
                <li class="breadcrumb-item active">{{ item.name }}</li>
            {% else %}
                <li class="breadcrumb-item"><a href="{{ path('stuff_filtered_list', {place: item.name}) }}">{{ item.name }}</a></li>
            {% endif %}
        {% endfor %}
    </ol>
    </nav>

    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th scope="col">&nbsp;</th>
            <th scope="col">{% trans %}item.form.name{% endtrans %}</th>
            <th scope="col">{% trans %}item.form.state{% endtrans %}</th>
            <th scope="col">{% trans %}item.form.identifier{% endtrans %}</th>
            <th scope="col">{% trans %}item.form.created{% endtrans %}</th>
            <th scope="col">{% trans %}item.form.updated{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for item in stuff %}
            <tr>
                <td>
                    <a href="{{ path('stuff_show', {id : item.id}) }}" class="btn btn-outline-dark"
                       title="{% trans %}base.btn.view{% endtrans %}"><i class="fa-fw far fa-eye"></i></a>
                </td>
                <td>{{ item.name }}</td>
                <td>{{ item.state.name }}</td>
                <td>{{ item.identifier }}</td>
                <td>{{ item.createdOn|format_datetime('medium', 'short', locale='de') }}</td>
                <td>{{ item.updatedOn|format_datetime('medium', 'short', locale='de') }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="6">
                <a href="{{ path("stuff_create") }}" class="btn btn-outline-dark"
                   title="{% trans %}base.btn.create{% endtrans %}">{% trans %}item.btn.newstuff{% endtrans %}</a>
            </td>
        </tr>
        </tfoot>
    </table>
{% endblock %}