{% set nav_top = 'admin_workflow' %}
{% extends 'base.html.twig' %}

{% block title %}{% trans %}workflow.title.workflow{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}workflow.title.workflow{% endtrans %}</h1>

    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th scope="col">&nbsp;</th>
            <th scope="col">{% trans %}admin.form.name{% endtrans %}</th>
            <th scope="col">{% trans %}admin.form.type{% endtrans %}</th>
            <th scope="col">{% trans %}base.form.created{% endtrans %}</th>
            <th scope="col">{% trans %}base.form.updated{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for workflow in workflows %}
            <tr>
                <td>
                    <a href="{{ path('admin_workflow_show', {id : workflow.id}) }}" class="btn btn-outline-dark" title="{% trans %}base.btn.view{% endtrans %}"><i class="fa-fw far fa-eye"></i></a>
                    <a href="{{ path('admin_workflow_edit', {id : workflow.id}) }}" class="btn btn-outline-dark" title="{% trans %}base.btn.edit{% endtrans %}"><i class="fa-fw far fa-edit"></i></a>
                    <a data-href="{{ path('admin_workflow_delete', {id : workflow.id}) }}" class="btn btn-outline-dark" title="{% trans %}base.btn.delete{% endtrans %}" data-toggle="modal" data-target="#confirm-delete"><i class="fa-fw far fa-trash-alt"></i></a>
                </td>
                <td>{{ workflow.name }}</td>
                <td>{{ workflow.type }}</td>
                <td>{{ workflow.createdOn|format_datetime('medium', 'short', locale='de') }}</td>
                <td>{{ workflow.updatedOn|format_datetime('medium', 'short', locale='de') }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="5">
                <a href="{{ path("admin_workflow_create") }}" class="btn btn-outline-dark"
                   title="{% trans %}base.btn.create{% endtrans %}">{% trans %}workflow.btn.newworkflow{% endtrans %}</a>&nbsp;
                <a href="{{ path("admin_workflow_export") }}" class="btn btn-outline-primary">{% trans %}workflow.btn.export{% endtrans %}</a>
            </td>
        </tr>
        </tfoot>
    </table>

    {% include '_elements/modal_delete_confirmation.html.twig' %}

{% endblock %}