{% set nav_top = 'bbs_contact' %}
{% trans_default_domain 'bbs' %}
{% extends 'bbs.html.twig' %}

{% block title %}{% trans %}title.profile{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}title.profile{% endtrans %}</h1>

    <table class="table table-striped">
        {% if profile.picture %}
            <tr>
                <td colspan="2"><img src="{{ asset(profile.picture) }}"/></td>
            </tr>
        {% endif %}
        <tr>
            <td><strong>{% trans %}form.displayname{% endtrans %}</strong></td>
            <td>{{ profile.displayname }}</td>
        </tr>
        <tr>
            <td><strong>{% trans %}form.realname{% endtrans %}</strong></td>
            <td>{{ profile.realname }}</td>
        </tr>
        <tr>
            <td><strong>{% trans %}form.motto{% endtrans %}</strong></td>
            <td>{{ profile.motto }}</td>
        </tr>
        {% set language = 'text.lang_' ~ profile.owner.locale %}
        <tr>
            <td><strong>{% trans %}form.language{% endtrans %}</strong></td>
            <td>{{ language|trans }}</td>
        </tr>
        {% set gender = 'text.gender_' ~ profile.gender %}
        <tr>
            <td><strong>{% trans %}form.gender{% endtrans %}</strong></td>
            <td>{{ gender|trans }}</td>
        </tr>
        {% set zodiac = 'text.zodiac_' ~ profile.zodiac %}
        <tr>
            <td><strong>{% trans %}form.zodiac{% endtrans %}</strong></td>
            <td>{{ profile.getZodiacSign }} {{ zodiac|trans }}</td>
        </tr>
    </table>
{% endblock %}

