{% set nav_top = 'bbs_profile' %}
{% trans_default_domain 'bbs' %}
{% extends 'bbs.html.twig' %}

{% block title %}{% trans %}title.profile{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}title.profile{% endtrans %}</h1>

    <table class="table table-striped">
        <tr>
            {% if profile.picture %}
                <td colspan="2"><img src="{{ asset(profile.picture) }}"/></td>
            {% else %}
                <td colspan="2">To Do: No Profile Picture</td>
            {% endif %}
        </tr>
        <tr>
            <td><strong>{% trans %}form.handle{% endtrans %}</strong></td>
            <td>{{ profile.owner.handle }}</td>
        </tr>
        <tr>
            <td><strong>{% trans %}form.displayname{% endtrans %}</strong></td>
            <td>{{ profile.displayname }}</td>
        </tr>
        <tr>
            <td><strong>{% trans %}form.realname{% endtrans %}</strong></td>
            <td>{{ profile.realname }}</td>
        </tr>
        <tr>
            <td><strong>{% trans %}form.motto{% endtrans %}</strong></td>
            <td>{{ profile.motto }}</td>
        </tr>
        {% set language = 'text.lang_' ~ profile.owner.locale %}
        <tr>
            <td><strong>{% trans %}form.language{% endtrans %}</strong></td>
            <td>{{ language|trans }}</td>
        </tr>
        {% set gender = 'text.gender_' ~ profile.gender %}
        <tr>
            <td><strong>{% trans %}form.gender{% endtrans %}</strong></td>
            <td>{{ gender|trans }}</td>
        </tr>
        {% set zodiac = 'text.zodiac_' ~ profile.zodiac %}
        <tr>
            <td><strong>{% trans %}form.zodiac{% endtrans %}</strong></td>
            <td>{{ zodiac|trans }}</td>
        </tr>
    </table>

    <a href="{{ path('profile_edit') }}" class="btn btn-primary"><i class="fas fa-pencil-alt"></i>&nbsp;{% trans from 'base' %}btn.edit{% endtrans %}</a>
{% endblock %}

