{% set nav_top = 'account_register' %}
{% trans_default_domain 'base' %}
{% extends 'base.html.twig' %}

{% block title %}{% trans %}title.invite{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}title.invite{% endtrans %}</h1>

    <p>{% trans %}message.invite{% endtrans %}</p>

    {% if invitation %}
        <p>{% trans %}message.invitationcode{% endtrans%} : {{ invitation.code|slice(0,4) }} {{ invitation.code|slice(4,4) }} {{ invitation.code|slice(8,4) }} {{ invitation.code|slice(12,4) }}</p>
        <p>{% trans %}message.invitationuntil{% endtrans %} {{ invitation.expiration|format_datetime('medium', 'short', locale='de') }}</p>
        {% set url = url('account_accept_invitation', {code:invitation.code}) %}
        <img src="{{ qr_code_data_uri(url) }}" />
    {% else %}
        <a href="{{ path('account_create_invitation') }}" class="btn btn-primary">{% trans %}btn.invite{% endtrans %}</a>
    {% endif %}

{% endblock %}

