<footer class="fixed-bottom footer mt-auto bg-light">
    <div class="container">
        <div class="row justify-content-start">
            <div class="col" style="text-align:center">
                <a href="{{ path('bbs_thread_list') }}" class="btn">
                    {% if nav_top == 'bbs_chats' %}
                        <img src="{{ asset('icons/chat-dots-fill.svg') }}" width="32" height="32" title="{% trans %}bbs.btn.chats{% endtrans %}" />
                    {% else %}
                        <img src="{{ asset('icons/chat-dots.svg') }}" width="32" height="32" title="{% trans %}bbs.btn.chats{% endtrans %}" />
                    {% endif %}
                </a>
            </div>
            <div class="col" style="text-align:center">
                <a href="{{ path('contact_list') }}" class="btn">
                    {% if nav_top == 'bbs_contact' %}
                        <img src="{{ asset('icons/people-fill.svg') }}" width="32" height="32" title="{% trans %}bbs.btn.contacts{% endtrans %}" />
                    {% else %}
                        <img src="{{ asset('icons/people.svg') }}" width="32" height="32" title="{% trans %}bbs.btn.contacts{% endtrans %}" />
                    {% endif %}
                </a>
            </div>
            <div class="col" style="text-align:center">
                <a href="{{ path('profile_own') }}" class="btn">
                    {% if nav_top == 'bbs_profile' %}
                        <img src="{{ asset('icons/person-fill.svg') }}" width="32" height="32" title="{% trans %}bbs.btn.profile{% endtrans %}" />
                    {% else %}
                        <img src="{{ asset('icons/person.svg') }}" width="32" height="32" title="{% trans %}bbs.btn.profile{% endtrans %}" />
                    {% endif %}
                </a>
            </div>
            <div class="col" style="text-align:center">
                <a href="{{ path('bbs_settings_show') }}" class="btn">
                    {% if nav_top == 'bbs_settings' %}
                        <img src="{{ asset('icons/gear-fill.svg') }}" width="32" height="32" title="{% trans %}bbs.btn.settings{% endtrans %}" />
                    {% else %}
                        <img src="{{ asset('icons/gear.svg') }}" width="32" height="32" title="{% trans %}bbs.btn.settings{% endtrans %}" />
                    {% endif %}

                </a>
            </div>
        </div>
    </div>
</footer>
