<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/img/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="manifest" href="/img/favicons/manifest.json">
    <link rel="mask-icon" href="/img/favicons/safari-pinned-tab.svg" color="#563d7c">
    <link rel="icon" href="/img/favicons/favicon.ico">

    <title>{% block title %}mbbs{% endblock %}</title>

    <!-- Bootstrap core, fontawsome and app CSS -->
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/all.css') }}" rel="stylesheet">
    <link href="{{ asset('css/app.css') }}" rel="stylesheet">
    {% block stylesheets %}{% endblock %}

    <script src="{{ asset('js/jquery-3.5.1.slim.min.js') }}"></script>

</head>
<body class="d-flex flex-column h-100">

<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{{ path('index_index') }}"><i class="fas fa-comments" title="mbbs"></i>&nbsp;{{ system_name }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            {% include '_elements/nav_main.html.twig' %}
            {% if searchFormUrl is defined %}
            <form action="{{ searchFormUrl }}" class="form-inline mt-2 mt-md-0" method="POST">
                <input name="searchterm" class="form-control mr-sm-2" type="text" placeholder="{% trans %}base.btn.search{% endtrans %}" aria-label="Search" {% if searchTerm is defined %}value="{{ searchTerm }}"{% endif %}>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">{% trans %}base.btn.search{% endtrans %}</button>
            </form>
            {% endif %}
        </div>
    </nav>
</header>

<main role="main" class="flex-shrink-0">
    <div class="container">
        {% for label, messages in app.flashes %}
            {% if label == 'error' %}{% set label = 'danger' %}{% endif %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        {% block body %}{% endblock %}
    </div>
</main>

<footer class="footer mt-auto py-3">
<div class="container">
    <nav class="navbar navbar-expand-lg" style="position:relative">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="{{ path('index_terms') }}">{% trans %}base.link.terms{% endtrans %}</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ path('index_privacy') }}">{% trans %}base.link.privacy{% endtrans %}</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ path('index_imprint') }}">{% trans %}base.link.imprint{% endtrans %}</a></li>
            <li class="nav-item"><p style="margin:.5rem;">[
                    <a href="{{ path('index_set_language', {lang:'de'}) }}">DE</a> |
                    <a href="{{ path('index_set_language', {lang:'en'}) }}">EN</a>
                    ]</p></li>
        </ul>
    </nav>
</div>

</footer>

<script src="{{ asset('js/bootstrap.bundle.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
