{% set nav_top = 'bbs_chats' %}
{% trans_default_domain 'bbs' %}
{% extends 'bbs.html.twig' %}

{% block title %}{% trans %}title.chats{% endtrans %}{% endblock %}

{% block body %}
{% for thread in threads %}
<div class="card border-dark card-thread">
    <div class="card-header" style="height:64px;">
        <img src="{{ asset( thread.picture) }}" style="position:absolute; top:0; left:0; width:64px; min-height:64px" />
        <p style="margin-left:64px;">{% if thread.type == 'group' %}<img src="{{ asset('icons/people-fill.svg') }}">{% else %}<img src="{{ asset('icons/person-fill.svg') }}">{% endif %}
            <b>{{ thread.name }}</b><br />
            {% if thread.opened %}<img src="{{ asset('icons/envelope-open.svg') }}">{% else %}<img src="{{ asset('icons/envelope-fill.svg') }}">{% endif %}&nbsp;{{ thread.updated }}
        </p>
    </div>
    <div class="card-body">{{ thread.teaser }}</div>
</div>
{% endfor %}
{% endblock %}

