{% set nav_top = 'admin' %}
{% set nav_main = 'admin_user' %}
{% trans_default_domain 'base' %}
{% extends 'base.html.twig' %}

{% block title %}{% trans %}title.admin.users{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}title.admin.users{% endtrans %}</h1>

    {% if user %}
    <table class="table table-striped">
        <tr>
            <td><strong>{% trans %}form.name{% endtrans %}</strong></td>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <td><strong>{% trans %}form.active{% endtrans %}</strong></td>
            <td>{% if user.isActive == true %}{% trans %}btn.yes{% endtrans %}{% else %}{% trans %}btn.no{% endtrans %}{% endif %}</td>
        </tr>
        <tr>
            <td><strong>{% trans %}form.roles{% endtrans %}</strong></td>
            <td>{{ user.roles|join(', ') }}</td>
        </tr>
        <tr>
            <td><strong>{% trans %}form.locale{% endtrans %}</strong></td>
            <td>{{ user.locale }}</td>
        </tr>
        <tr>
            <td><strong>{% trans %}form.registrar{% endtrans %}</strong></td>
            <td>{% if user.registrar %}{{ user.registrar.username }}{% else %}---{% endif %}</td>
        </tr>
        <tr>
            <td><strong>{% trans %}form.created{% endtrans %}</strong></td>
            <td>{{ user.createdOn|format_datetime('medium', 'short', locale='de') }}</td>
        </tr>
        <tr>
            <td><strong>{% trans %}form.updated{% endtrans %}</strong></td>
            <td>{{ user.updatedOn|format_datetime('medium', 'short', locale='de') }}</td>
        </tr>
        <tr>
            <td colspan="2"><a href="{{ path("admin_user_edit", {id : user.id}) }}" class="btn btn-outline-dark">{% trans %}btn.edit{% endtrans %}</a></td>
        </tr>
    </table>
    {% else %}
        <div class="alert alert-danger" role="alert">
            {% trans %}message.unknownuser{% endtrans %}
        </div>
    {% endif %}
{% endblock %}
