{% set nav_top = 'item' %}
{% extends 'base.html.twig' %}

{% block title %}{% trans %}item.title.itemlist{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}item.title.itemlist{% endtrans %}</h1>

    <p>{% trans %}item.message.itemintro{% endtrans %}</p>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            {% if place is empty %}
                <li class="breadcrumb-item active">{% trans %}base.link.all{% endtrans %}</li>
            {% else %}
                <li class="breadcrumb-item"><a href="{{ path('item_list') }}">{% trans %}base.link.all{% endtrans %}</a></li>
            {% endif %}

            {% for item in places %}
                {% if place == item %}
                    <li class="breadcrumb-item active">{{ item }}</li>
                {% else %}
                    <li class="breadcrumb-item"><a href="{{ path('item_filtered_list', {place: item}) }}">{{ item }}</a></li>
                {% endif %}
            {% endfor %}
        </ol>
    </nav>

    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th scope="col">&nbsp;</th>
            <th scope="col">{% trans %}item.form.name{% endtrans %}</th>
            <th scope="col">{% trans %}item.form.state{% endtrans %}</th>
            <th scope="col">{% trans %}item.form.identifier{% endtrans %}</th>
            <th scope="col">{% trans %}item.form.created{% endtrans %}</th>
            <th scope="col">{% trans %}item.form.updated{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>
                    <a href="{{ path('item_show', {id : item.id}) }}" class="btn btn-outline-dark"
                       title="{% trans %}base.btn.view{% endtrans %}"><i class="fa-fw far fa-eye"></i></a>
                </td>
                <td>{{ item.name }}</td>
                <td>{{ item.marking }}</td>
                <td>{{ item.identifier }}</td>
                <td>{{ item.createdOn|format_datetime('medium', 'short', locale='de') }}</td>
                <td>{{ item.updatedOn|format_datetime('medium', 'short', locale='de') }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="5">
                <a href="{{ path("item_create") }}" class="btn btn-outline-dark"
                   title="{% trans %}base.btn.create{% endtrans %}">{% trans %}item.btn.newitem{% endtrans %}</a>
            </td>
        </tr>
        </tfoot>
    </table>
{% endblock %}